<div class="create-question">
  <h1>Create your own questions</h1>

  <form action="/profile/success" method="post">
    <label for="competition-input"><h1>Competition</h1></label>
    <input
      id="competition-input"
      type="text"
      name="competition"
      placeholder="Enter the competition"
    />
    <label for="year-input"><h1>Year</h1></label>
    <input
      id="year-input"
      type="text"
      name="year"
      placeholder="Enter the year"
    />
    <label for="options-input"><h1>Winner Team</h1></label>
    <input
      id="winner-input"
      type="text"
      name="winner"
      placeholder="Enter the winner team"
    />
    <label for="options-input"><h1>Loser Team</h1></label>
    <input
      id="loser-input"
      type="text"
      name="loser"
      placeholder="Enter the loser team"
    />

    <button class="button1">Create my question</button>
  </form>
</div>