<h1>Create your own questions</h1>

<form action="/profile/success" method="post">
  <label for="competition-input">Competition</label>
  <input
    id="competition-input"
    type="text"
    name="competition"
    placeholder="Enter the competition"
  />
  <label for="year-input">Year</label>
  <input id="year-input" type="text" name="year" placeholder="Enter the year" />
  <label for="options-input">Winner Team</label>
  <input
    id="winner-input"
    type="text"
    name="winner"
    placeholder="Enter the winner team"
  />
  <label for="options-input">Loser Team</label>
  <input
    id="loser-input"
    type="text"
    name="loser"
    placeholder="Enter the loser team"
  />

  <button>Create my question</button>
</form>