<section class="game-over-hbs">
  <h1>Game Over!</h1>
  <div>
    <form action="/" method="get">
      <button class="button1">Take me Home</button>
    </form>

    <form action="/questions" method="get">
      <button class="button1">I want to try again</button>
    </form>
  </div>
</section>