<h1>Game Over!</h1>

<h2>What do you want to do next?</h2>

<form action="/" method="get">
  <button>Take me Home</button>
</form>

<form action="/questions" method="get">
  <button>I want to try again</button>
</form>