<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Guess Who Won!</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://img.icons8.com/doodle/344/trophy--v1.png"
    />
  </head>
  <body>

    <nav class="navbar">
      <ul>
        <li><a class="nav-item" href="/">Home</a></li>
        <li><a class="nav-item" href="/scoreboard">Scoreboard</a></li>
        {{#if user}}
          <li><a class="nav-item" href="/questions">Play</a></li>
          <li><a class="nav-item" href="/profile">{{user.name}}'s Profile</a></li>
          <li><form action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form></li>
        {{else}}
          <li><a class="nav-item" href="/authentication/sign-in">Sign In</a></li>
          <li><a class="nav-item" href="/authentication/sign-up">Sign Up</a></li>
        {{/if}}
      </ul>
    </nav>

    {{{body}}}

    <script
      src="https://kit.fontawesome.com/14d1c590f9.js"
      crossorigin="anonymous"
    >

    </script>

    <div style="display: none" id="user-score">{{user.highScore}}</div>
    <script src="/scripts/script.js"></script>
  </body>
</html>