<div class="scoreboard">
  <h1>Scoreboard</h1>

  <ol>
    {{#each users}}
      <li>{{this.name}}
        has had a maximum of
        {{this.highScore}}
        correct questions in a row!!</li>
    {{/each}}

  </ol>

  <div class="container">

    <span class="button facebook"><i class="fa fa-facebook"></i></span>
    <span class="button whatsapp"><i class="fa fa-whatsapp"></i></span>
    <span class="button twitter"><i class="fa fa-twitter"></i></span>
    <span class="button telegram"><i class="fa fa-telegram"></i></span>
  </div>
</div>