*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  height: 100%;
}

nav {
  position: sticky;
  /* default colors + transition */
  transition: all 0.3s ease-out;
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0em;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #9b34f0;
}

nav ul li {
  display: inline;
}

form {
  display: flex;
}

nav ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  color: #fff;
  background-color: #9b34f0;
}

nav ul li form {
  display: inline;
  text-decoration: none;
  padding: 0.2em 1em;
  color: #fff;
  background-color: #9b34f0;
  font-family: Helvetica;
}

nav ul li a:hover {
  color: #000;
  background-color: #3de7ae;
}

nav button:hover {
  text-decoration: none;
  color: #000;
  background-color: #e410f7;
}

nav button {
  font-size: 16;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0.2em 1em;
  /*optional*/
  font-family: Helvetica;
  /*input has OS specific font-family*/
  color: white;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

.sign-in {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-content: space-between;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.questions-display {
  display: flex;
}

.questions-display form {
  flex-direction: row;
  align-items: center;
}

.fa {
  margin: 1rem;
  font-size: 2em;
}

.fa-facebook:hover {
  transform: scale(1.5);
  color: #4267b2;
}

.fa-whatsapp:hover {
  transform: scale(1.5);
  color: #25d366;
}

.fa-twitter:hover {
  transform: scale(1.5);
  color: #1da1f2;
}

.fa-telegram:hover {
  transform: scale(1.5);
  color: #4095c6;
}

.delete-question {
  background-image: url("https://images.unsplash.com/photo-1585614627110-2ab054898c00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.create-question {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
}

.create-question form {
  flex-direction: column;
}

.create-question button {
  margin: 25px 0px 0px;
  align-self: center;
  align-content: center;
}

.game-over-hbs {
  background-image: url("https://images.unsplash.com/photo-1466065665758-d473db752253?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95.65vh;
}

.game-over-hbs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over-hbs h1 {
  font-size: 4.5em;
  padding-top: 1.5em;
}

.game-over-hbs div {
  display: flex;
  flex-direction: row;
}

.button1 {
  display: flex;
  padding: 1.5em 3em;
  margin: 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #9b34f0;
  text-align: center;
  transition: all 0.2s;
  flex-direction: row;
  font-size: 1em;
}

.button1:hover {
  background-color: #3de7ae;
}

.questions {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95.65vh;
  align-items: center;
  margin: 0px;
}

.questions .badges {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-right: 200px;
  align-content: space-around;
  padding: 100px;
}

.questions img {
  display: flex;
  margin: 0px;
  flex-direction: row;
  object-fit: contain;
  height: 90%;
  width: 560px;
  overflow: hidden;
}

.badge1 {
  object-fit: contain;
  max-height: 15em;
  margin-right: 30em;
  margin-left: 7em;
}

.buttons-questions {
  margin-top: 2em;
  margin-right: 10em;
}

.buttons-questions .button-53 {
  background-color: #9b34f0;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  margin-right: 200px;
  padding: 100px;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 95%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons-questions .button-53:focus {
  outline: 0;
}

.buttons-questions .button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(95% - 1px);
  height: calc(95% - 1px);
}

.buttons-questions .button-53:hover {
  bottom: 10px;
  left: 10px;
  background-color: #3de7ae;
}

@media (min-width: 768px) {
  .buttons-questions .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.question-header {
  padding-top: 2em;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 95.65vh;
  color: #ffffff;
  font-weight: bolder;
}

.home p {
  padding-top: 1em;
  line-height: 2em;
}

.scoreboard {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1527871454777-032ec3f75edc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80");
  background-repeat: no-repeat;
  background-position: 0 -6em;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 95.65vh;
  flex-direction: column;
  align-items: center;
}

.profile {
  background-image: url("https://images.unsplash.com/photo-1504305754058-2f08ccd89a0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-position: 0 -6em;
  background-size: cover;
  width: 100%;
  height: 95.65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.button-create {
  display: flex;
  padding: 0.5em 2em;
  margin: 1.5em 2.3em 1.5em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #9b34f0;
  text-align: center;
  transition: all 0.2s;
  flex-direction: row;
  font-size: 1em;
}

.button-create:hover {
  background-color: #40c647;
}

.button-delete {
  display: flex;
  padding: 0.5em 2em;
  margin: 1.5em 2.3em 1.5em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #9b34f0;
  text-align: center;
  transition: all 0.2s;
  flex-direction: row;
  font-size: 1em;
}

.button-delete:hover {
  background-color: #e42828;
}

.delete-question {
  display: flex;
  flex-direction: column;
  color: white;
}

.delete-question h1 {
  color: #000;
  flex-direction: row;
  align-self: center;
  padding-top: 1em;
}

.delete-form {
  flex-direction: column;
  align-items: space-between;
  align-content: space-between;
  line-height: 5px;
  padding-top: 10em;
}

.delete-form p {
  display: table;
  /* keep the background color wrapped tight */
  margin: 0px auto 0px auto;
  /* keep the table centered */
  padding: 10px;
  font-size: 25px;
  background-color: #3de7ae;
  color: #000;
}

.sign {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  background-image: url("https://images.unsplash.com/photo-1542463873-d5c728e2cb0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80");
  background-repeat: no-repeat;
  background-position: 0 -6em;
  background-size: cover;
  width: 100%;
  height: 95.65vh;
}

.sign input {
  color: black;
  background-color: #ffffff;
}

.sign label {
  font-size: larger;
  font-weight: bolder;
}

.sign form {
  margin: 0;
  position: absolute;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
}

.sign-in button {
  margin: 25px 0px 0px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}

.sign-up button {
  margin: 25px 0px 0px;
  align-self: center;
  align-content: center;
}

/*# sourceMappingURL=style.css.map */